Source: com.github.hezral.inspektor
Section: x11
Priority: extra
Maintainer: Adi Hezral <hezral@gmail.com>
Build-Depends: debhelper (>= 10),
               dh-python,
               python-all,
               python-setuptools,
Standards-Version: 3.9.3

Package: com.github.hezral.inspektor
Architecture: any
Depends: python3, python-requests, ${misc:Depends}, ${shlibs:Depends}
Description: Inspektor
 An application for viewing additional file information, designed for elementary OS.
