[Desktop Entry]
Name=Inspektor
GenericName=Inspektor
Comment=View additional metadata for files
Categories=Development;
Exec=com.github.hezral.inspektor
Icon=com.github.hezral.inspektor
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.hezral.inspektor
Keywords=Python;
